.NavbarItems{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.25);
    width: 95%;
    height: 80px;
    border-radius: 15px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.navbar-logo{
    color:black;
    font-size: 2rem;
    cursor: pointer;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 20px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.nav-links i{
    padding-right: 10px;
}

.nav-links:hover{
    background-color: darkturquoise;
    color:white;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
}

.nav-links-mobile{
    display: none;
}

button{
color: black;
padding: 0.5rem 1rem;
white-space: nowrap;
border-radius: 1rem;
font-weight: 600;
cursor: pointer;
}

.menu-icons{
    display: none;
}

button:hover{
    background-color: darkturquoise;
    color: white;
}

@media screen and (max-width: 850px){
    .NavbarItems{
        z-index: 99;
    }
    .nav-menu{
        display: flex;
        flex-direction: column ;
        justify-content: flex-start;
        background-color: white;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding:80px 0 30px 0;
        margin: 0;
        transition: 0.7s ease-in-out;
        border-radius: 15px;

    }

    .nav-menu.active{
        transition: 0.3s ease-in-out;
        left: 0;
        opacity: 1;
        z-index: -1;
    }

    .nav-links{
        margin: auto;
        display: block;
        width: 60%;
        font-size: 1.2rem;
        padding: 1rem 0;
    }

    button{
        display: none;
    }

    .menu-icons{
        display: block;
    }

    .menu-icons i{
        font-size: 1.2rem;
        color: black;
        cursor: pointer;
    }

    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1rem;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 1rem;
        width: 60%;
        background-color:darkturquoise;
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

}
    
